[Service]
ExecStart= /home/bcuser/npm/bin/npm start
WorkingDirectory=/home/ubuntu/bin/nrb
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nrb
User=ubuntu
Group=ubuntu
Environment=NODE_ENV=production
Environment=PORT=30025

[Install]
WantedBy=multi-user.target