extends layout

block content
  h1= title
  p Welcome to #{title}

  input#userInput(type="number")

  br
  br

  div
    button#getFeetInMile Get Feet in One Mile

  div
    button#calculateFeetFromMiles Calculate Feet from Miles

  div
    button#calculateCircumference Calculate Circumference

  br

  div
    pre#displayArea