extends layout

block content
  h1= title
  p Welcome to #{title}

  button#search Search

  pre#displaySearch

  input#userInput(type="number")

  div
    button#calculateFeetFromMiles Calculate Feet from Miles

  div
    pre#displayArea